.navbar {
    background-color: #343a40;
    color: white;
    border-top: 3px #007bff solid;
}

.navbar div {
    color: aquamarine;
}

.navbar-brand {
    padding-top: 0;
    padding-left: 4px;
    margin-right: 8px;
}

.navbar-nav {
    list-style: none;
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.a {
    text-decoration: none;
}

.body {
    line-height: 1.5;
}