body {
    line-height: 1.5;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.btn.btn-bold {
    font-weight: 600;
}

.btn.btn-upper {
    text-transform: uppercase;
}

.btn-brand {
    color: #fff;
    background-color: #5d78ff;
    border-color: #5d78ff;
}

#wrapper {
    display: flex;
}

#wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 80px;
}

.text-gray-800 {
    color: #5a5c69!important;
}

.card-header {
    background-color: transparent;
    font-weight: 100;
    border-bottom: none;
    font-size: 1.2rem;
}

.breadcrumb {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
}

.post-header {
    display: flex;
    padding-left: 1em;
    padding-top: 1em;
}

.post-user-date {
    padding-left: 0.8em;
}

.post-user-date .user {
    font-weight: 500;
}

.post-user-date .date {
    font-size: 0.9em;
}

.card-body img {
    width: 100%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    border: none;
}

.card-footer i {
    font-size: 1.4em;
    padding-right: 1.3em;
}

.card-footer .fa-heart {
    color: red;
}

.card-footer .fa-eye {
    color: gray;
}


/* navbar */

.navbar {
    background-color: #343a40;
    color: white;
    border-top: 3px #007bff solid;
    height: 60px;
}

.navbar .navbar-brand {
    padding-top: 0.1rem;
}

.navbar .navbar-brand a {
    padding-right: 4px;
}

@media (min-width: 768px) {
    .navbar-nav .form-inline .input-group {
        width: auto;
    }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    /* Fix the top/bottom navbars when screen real estate supports it */
    position: fixed;
    z-index: 1030;
    left: 0;
    width: 100%;
}

.navbar-fixed-top {
    top: 0;
}

/* Sidebar */

.sidebar {
    width: 90px !important;
    background-color: #e9ecef;
    min-height: calc(100vh - 56px);
    margin-top: 16px;
    border-radius: .25rem;
    border-top: 3px #94ff99 solid;
}

.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
}

.sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}

.sidebar .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

.sidebar .nav-item .nav-link {
    color: #a1a0a0;
}

.sidebar .nav-item.active .nav-link {
    color: black;
    font-weight: 500;
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: #707070;
}

.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}

@media (min-width: 768px) {
    .sidebar {
        width: 225px !important;
    }

    .sidebar .nav-item .nav-link {
        display: block;
        text-align: left;
        padding: 1rem;
        width: 225px;
    }

    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
        display: inline;
    }

    .sidebar .nav-item .dropdown-menu {
        position: static !important;
        margin: 0 1rem;
        top: 0;
    }

    .sidebar .nav-item.dropdown .dropdown-toggle::after {
        display: block;
    }

    .sidebar.toggled {
        overflow: visible;
        width: 90px !important;
    }

    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }

    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 90px;
    }

    .sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: block;
    }

    .sidebar.toggled .nav-item .dropdown-menu {
        position: absolute !important;
        -webkit-transform: none !important;
        transform: none !important;
        left: calc(90px + 0.5rem) !important;
        margin: 0;
    }

    .sidebar.toggled .nav-item .dropdown-menu.dropup {
        bottom: 0;
        top: auto !important;
    }

    .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }
}




